        .body {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background-container {
    background-image: url('./web\ 2@4x.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 80px; /* Augmenter le padding autour du formulaire */
    border-radius: 10px;
    text-align: center;
    z-index: 1;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 280px;
    height: auto;
}


.form-check-input {
    margin-right: 5px;
    vertical-align: middle; /* Alignement vertical de la case à cocher */
}

/* Modification de la couleur du bouton "Submit" */
.form-container button[type="submit"].btn-primary {
    background-color: #043474;
    border: none;
}
