      body {
    margin: 0;
    padding: 0;
    background-image: url('./web\ 2@4x\ -\ Copie.png');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 60px;
    max-width: 1300px;
    margin: 40px auto;
    border-radius: 10px;
    text-align: center;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 280px;
    height: auto;
    border-radius: 10px;
}

.title {
    color: #043474;
}

.form-container button[type="submit"].btn-primary {
    background-color: #043474;
    border: none;
    width: 20%;
}

.icon {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .custom-table {
        width: 100%; /* Définir la largeur souhaitée */
    }
